.skills__container{
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 3rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.skills__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 0rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
}
.skills__content:hover{
    box-shadow: 0px 4px 15px 2px rgb(232, 232, 232);
    border: 1px solid transparent;
    
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: var(--mb-1-5);
    margin-bottom: 1rem;
}
.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}
.skills__data{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns:2fr 2fr;
        column-gap: 3rem;
        padding: 0 3rem 3rem;

    }
}

@media screen and (max-width: 600px) {
    .skills__container{
        grid-template-columns: 2fr;
        column-gap: 3rem;
        padding: 0 3rem 3rem;
    }
    .skills__group{
        padding: 0 1rem;
        grid-template-columns: 2fr 2fr;
        column-gap: 1.2rem;
    }
    .skills__content:hover{
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: none;
    }
}
@media screen and (max-width: 380px) {
    .skills__group{
        grid-template-columns:  2fr;
    }
}