.timeLine {
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}
.timeline_dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.timeLeft {
  align-self: flex-start;
}
.timeRight {
  align-self: flex-end;
}
.timelineItem {
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px;
}
.timelineItem:hover {
  box-shadow: 0px 4px 15px 2px rgb(232, 232, 232);
  border: 1px solid transparent;
}

.timelineContainer {
  width: 45%;
}

@media screen and (max-width: 1400px) {
  .timelineContainer {
    width: 55%;
  }
}

@media screen and (max-width: 1100px) {
  .timelineContainer {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .timelineContainer {
    width: 80%;
  }
  .timeLinePeriod {
    font-size: 0.9em !important;
  }
}

@media screen and (max-width: 650px) {
  .timelineItem {
    max-width: 180px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
  }
  .timeLinePeriod {
    font-size: 0.8em !important;
  }
}
@media screen and (max-width: 450px) {
  .timelineContainer {
    width: 90%;
  }
  .timelineItem {
    max-width: 140px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
  }
  .timeLinePeriod {
    font-size: 0.75em !important;
  }
  .calendar {
    display: none;
  }
}
