/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box !important;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
.home{
  margin-top: 0 !important;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  margin: 200px 0;
  padding-top: calc(var(--header-height) + 1.5rem);
  /* padding: 6rem 0 2rem; */
  height: calc(100vh - var(--header-height) - 1.5rem);
}


.section__title {
  margin-top: 2rem;
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin: 0 auto;
  box-sizing: border-box;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
#experience{
  margin: 200px 0;
  
}
.modalContentHeader{
    width: 100%;
    position: sticky;
    padding:  2em 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-color);
}



.modalTitle{
  font-size: 1.3em;
  text-align: center;
}
.modalSubTitle{
  font-size: 1.1em;
  /* text-align: center; */
}
.modalDes{
  font-size: 1em;

}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    padding-left: var(--mb-1-5);
    padding-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
  
}

/* For small devices */
@media screen and (max-width: 420px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    padding-left: var(--mb-1);
    padding-right: var(--mb-1);
  }
  #experience{
    margin-top: 200px;
  }
}

.modal{
 top: 0;
  background: rgba(0,0,0,.8);
  z-index: var(--z-modal);
  animation: fadeIn .2s forwards;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
.modal_nav{
  top: 0;
  background: rgba(0,0,0,.2);
  z-index: 10;
  animation: fadeIn .2s forwards;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}


@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.modalContent{
  min-width: 300px;
  z-index: 1001;
  position: fixed;
  width: 30%;
  height: 60%;
  background-color: var(--container-color);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  
  /* Hide the scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

/* Webkit browsers (Chrome, Safari) */
.modalContent::-webkit-scrollbar {
  width: 12px;
}

.modalContent::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}

.modalContent::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}
/* 

  @media screen and (max-width: 992px) {
    
  }
  
  @media screen and (max-width: 768px) {
   
  }
  
  @media screen and (max-width: 576px) {
  }
  
  @media screen and (max-width: 350px) {
   
  } */
  
